*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@font-face{
	font-family: myfont;
	src: url(Oxyzen/Oxyzen-Regular.ttf);
}

.banner{
	background-image: url(images/bgimg.jpg);
	height: 250px;
	width: auto;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	border:2px solid black;
	padding-top: 100px;
}

.welcome-text{
	font-size: 30px;
	/*font-family: verdana;*/
	font-family: myfont;
	font-weight: 600;
	color: rgb(46,15,26);
	background-color: rgba(255,255,255,0.5);
	text-align: center;
	/*margin-top: 100px;*/
	display: none;
}

nav{
	display: flex;
	flex-direction: column;
	/*width: 100%;*/
	text-align: center;
	/*background-color: 2px solid red;*/
	background-color: chocolate;
	/*overflow: auto;*/
}

nav a{
	width: 100%;
	background-color:chocolate;
	color: white;
	padding: 15px;
	font-size: 120%;
	text-decoration: none;
	display: inline-block;
	float: none;
	border-bottom: 2px solid rgb(46,15,26);
}

nav a:hover{
	color: black;
	background-color: bisque;
}

.outerDiv{
	display: flex;
	flex-direction: column;
	/*width: 100%;*/
	background-color: #F4976C;
	padding: 50px;
	/*overflow: auto;*/
	margin-bottom: 10px;
}

.advertisement{
	display: none;
}

.innerDiv{
	width: 100%;
	padding: 50px;
	background-color: bisque;
	text-align: center;
	margin-bottom: 10px;
	border:1px solid red;
}

.centerDiv{
	width: 100%;
	padding: 50px;
	border:2px solid black;
	background-color: bisque;
	text-align: center;
	margin: auto;
}

h2{
	font-family: 'Smooch', cursive;
}

p{
	font-family: 'Fuzzy Bubbles', cursive;
}

img{
	max-width: 100%;
	height: auto;
	margin-top: 10px;
}

/*CSS Media Queries for Desktop*/
/*@media (min-width: 768px) and (max-width: 960px){
	.banner{
		height: 500px;
		padding-top: 200px; 
	}
	.welcome-text{
		font-size: 70px;
		font-weight: 800;
		display: block;
	}

	nav a{
		width: 20%;
		font-size: 30px;
		float: left;
		border-right: 2px solid rgb(46,15,26);

	}

	.outerDiv{
		padding: 50px;
	}

	.advertisement{
	display: block;
}

	.wraper{
		width: 100%;
		margin: auto;
		overflow: auto;
	}

	.innerDiv{
		width: 24%;
		float: left;
		margin-bottom: 0;
		margin-right: 10px;
	}

	.centerDiv{
		width: 70%;
	}



}*/

@media (min-width: 961px){
	.welcome-text{
		font-size: 100px;
		font-weight: 800;
		display: block;
	}

	nav{
		flex-direction: row;
	}

	nav a{
		flex-basis: 20%;
		/*width: 20%;*/
		font-size: 30px;
		/*float: left;*/
		border-right: 2px solid rgb(46,15,26);

	}

	.outerDiv{
		flex-direction: row;
		justify-content: space-around;
		padding: 50px;
	}

	.advertisement{
	display: block;
}

	.innerDiv{
		width: 24%;
		/*float: left;*/
		margin-bottom: 0;
		margin-right: 10px;
	}

	.centerDiv{
		width: 70%;
	}

	.skipNav{
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	.skipNav a{
		position: absolute;
		top: -45px;

		background-color: #000;
		color: white;
		padding: 12px;
		text-decoration: none;
	}

	.skipNav a:focus{
		top: 0px;
	}

	footer{
		background-color: #D2691E;
		text-align: center;
		color: white;
		padding: 15px;
		font-size: 120%;
	}


}